*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#header .logo
{
    color: aqua;
    font-weight: 900;
    text-decoration: none;
    font-size: 2em;
}
#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#header ul li
{
    list-style: none;
}
#header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(51, 0, 255);
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 900;
    text-shadow: 0 0 25px rgb(0, 255, 17, 1);
}
#header ul li a:hover,
#header ul li a.active
{
background: rgb(25, 24, 39);
color: #fff;
}
#scene
{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#scene #text
{
    position: absolute;
    transform: translateY(100%);
    color: rgb(17, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    font-size: 5em;
    text-align: center;
    bottom: 400px;
    right: 0;
    text-shadow: 5px 15px 25px rgba(21, 3, 95, 0.5);
}
#scene img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: cover;
    object-fit: cover;
    pointer-events: none;

}
.sec
{
    position: relative;
    padding: 100px;
}
.sec h2
{
    font-size: 5em;
}
